#myDiv {
    width: 550px;   /* Width of the div */
    height: 680px;  /* Height of the div */
    padding: 20px;  
  }

  .myBody {
    width: 800px;   /* Width of the div */
    padding: 20px;  
    margin-top: 15px;
    background-color: aliceblue;
    border-radius: 4%;
    color: black;
  }

  .do, .delegate, .decide, .delete {
    height: 430px;
    border-radius: 5%;
  }
  i {
    size: 15px;
  }
   
  body {
  background-color: #F7F7E7;
  color: #027c07 !important;
}

.social-icons {
  font-size: 2em; 
}
.social-icons i {
  margin: 0 15px; 
}
.social-icons a {
  color: inherit; 
  text-decoration: none; 
}

.navbar-brand {
  font-size: 35px !important;
}

#signOutButton {
  font-size: 20px !important;
}
 
#doDisplay, #decideDisplay, #delegateDisplay, #deleteDisplay {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
 
}
#userInputDo, #userInputDecide, #userInputDelegate, #userInputDelete {
  width: 145px !important;
}